* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.pop-up {
    text-align: center;
    font-size: 10px;
    background-color: #e75757;
    position: absolute;
    top: 0;
    color: #fff;
}

/*HEADER*/

#navbar {
    width: 100%;
    background-color: #2D3047;
}

#navList-container,
.navbar-link {
    display: flex;
    align-items: center;
}

.space {
    flex: 1;
}

.navbar-list {
    list-style: none;
}

.navbar-link {
    padding: 25px;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
    font-size: 14px;
}

.navbar-link:hover {
    background-color: #075AB3;
}

#nav-button {
    background-color: #075AB3;
    gap: 10px;
    border: none;
}

.navbar-list .material-icons {
    font-size: 18px;
}

#nav-button:hover {
    background-color: #0550a0;
}

/*FIM-HEADER*/

/*LOGIN*/

.login-container,
.login-form,
.label-icon,
.login-title,
.loginInput-container,
.login-title h1 {
    display: flex;
}

.login-container,
.login-form,
.login-title {
    justify-content: center;
    align-items: center;
    height: auto;
}

.loginInput-container,
.login-container,
.login-form,
.login-title,
.login-title h1 {
    flex-direction: column;
}

.login-title,
.login-title small,
.btn-form,
.label-icon {
    margin: 10px 0;
}

.login-form {
    width: 35%;
}

.logo {
    width: 100px;
    height: 100px;
}

.btn-form,
.login-form {
    border-radius: 15px;
}

.login-input,
.btn-form {
    padding: 10px 0;
}

.btn-form,
.login-input {
    border: none;
}

.btn-form,
.loginInput-container {
    width: 80%;
}

.login-container {
    width: 100%;
    background-color: #94958B;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    border: 1px solid #94958B;
    box-shadow: 8px 8px 34px #707070,
        -8px -8px 34px #5e5e5e;
}

.login-title h1 {
    text-align: center;
}

.login-title small {
    color: #94958B;
    font-size: 0.5em;
    font-weight: 300;
}

.loginInput-container {
    text-align: left;
    margin: 10px 30px;
}

.label-icon {
    align-items: center;
    gap: 2px;
    font-size: 14px;
}

.login-input {
    border-bottom: 1px solid #94958B;
    transition: 0.1s;
}

.login-input:focus {
    outline: none;
    border-bottom: 3px solid #075AB3;
}

.btn-form {
    background-color: #075AB3;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-form:hover {
    background-color: #0550a0;
}

/*FIM-LOGIN*/

/*PAINEL*/

#userMenu-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    box-shadow: -1px 7px 11px -1px rgba(0, 0, 0, 0.1);
}

#userDetails,
#user,
#userMenu-container,
#userActions,
.action-link {
    display: flex;
}

#userDetails {
    align-items: center;
    gap: 10px;
}

#userImg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#userDetails-txt p {
    margin: 10px 0;
}

#user {
    flex-direction: column;
}

#userActions {
    gap: 20px;
}

.action-link,
#userActions {
    align-items: center;
}

.action-link {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    transition: 0.3s;
}

.action-link:first-child {
    color: #fff;
    background-color: #075AB3;
}

.action-link:first-child:hover {
    background-color: #0550a0;
}

.action-link:last-child {
    color: #2D3047;
    border: 1px solid #94958B;
}

.action-link:last-child:hover {
    background-color: #f2f2f2;
}

.action-link i {
    margin-right: 5px;
}

/*FIM-PAINEL*/

/*FOOTER*/

footer {
    background-color: #2D3047;
    width: 100%;
    padding: 25px;
    color: #fff;
    text-align: center;
}

/*FIM-FOOTER*/


/*Cadastro*/

#cadastro-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


#cadastro-title {
    margin: 0;
}

.cadastroInput {
    width: 100%;
    margin-left: 0;
}

.checkpolitica,
.voltarusuario {
    display: flex;
    margin: 15px;
    font-size: 14px;
}

.check {
    margin-right: 5px;
}

/*FIM-Cadastro*/

/*Index*/

#banner {
    width: 100%;
    height: auto;
    display: flex;
    background-image: url("../img/enade-enade.jpg");
    align-items: center;
}

#btnBanner {
    text-decoration: none;
}

#banner-img {
    width: 100%;
}

#info-banner {
    position: relative;
    left: 10%;
}

#info-banner h1,
#info-banner p {
    color: #fff;
    margin: 10px 0;
}

#info-banner h1 {
    font-size: 36px;
}

#info-banner button {
    border: none;
    background-color: #fff;
    padding: 15px 25px;
    color: #000;
    font-weight: 500;
    margin: 30px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 10px 10px 0px 1px rgba(240, 240, 240, 0.75);
    transition: 0.3s;
}

#info-banner button:hover {
    background-color: #e0dede;
    box-shadow: none;
}

#info-banner p {
    font-weight: 300;
}

#index-container,
#index-content,
#retrato {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    display: flex;
    margin: 50px 0;
}

#content-icons {
    display: flex;
    justify-content: space-evenly;
}

.content-icons {
    text-align: center;
}

#index-title h3 {
    margin: 40px 0;
    color: #075AB3;
}

.content:first-child {
    gap: 5%;
    justify-content: center;
}

#Text-content {
    width: 60%;
    height: 100%;
}

#aside-content {
    width: 30%;
    height: 100%;
    color: #fff;
}

#aside-content h1 {
    text-align: center;
    margin: 10px 0;
}

.aside-cards i {
    font-size: 40px;
    color: #075AB3;
}

.asideCards-txt h2 {
    font-size: 16px;
    margin: 10px 0;
}

.aside-cards {
    background-color: #fff;
    color: #000;
    display: flex;
    padding: 15px;
    margin: 10px;
    align-items: center;
    gap: 10px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

#button-container button {
    background-color: #075AB3;
    border: none;
    color: #fff;
    padding: 15px;
    border-radius: 70px;
    transition: 0.3s;
}

#button-container button:hover {
    cursor: pointer;
    background-color: #0550a0;
}

#indexImg-container {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.indexImg {
    margin: 40px 20px;
    width: 100%;
}

.content:last-child {
    justify-content: space-evenly;
}

.cards-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    width: 30%;
    align-items: center;
    box-shadow: 0px 1px 40px -13px rgba(0, 0, 0, 0.2);
}

.cards-container i {
    font-size: 80px;
    color: #075AB3;
}

.cardsText h1 {
    font-size: 24px;
}

.cardsText p {
    margin: 10px 0;
    font-size: 14px;
}


/* FIM INDEX */

/* INÍCIO PERFIL */

/* CLASSE QUE CONTEM TODA A ESTRUTURA DO PERFIL */

.perfil-container {
    width: 100%;
    height: 100vh;
}

/* CLASSE QUE CONTEM AS DUAS 'BOX' */
.perfil-form {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100vh;
    background-color: white;
}

/* CLASSE QUE CONTEM INFORMAÇÕES E FOTO DO ALUNO */
.perfil-box {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: white;
}

/* CLASSE QUE ALTERA O CONTEUDO DO PERFIL */
.perfil-conteudo {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    background-color: rgb(255, 254, 254);
    margin: 30px auto;
    align-items: center;
    justify-content: space-evenly;
}

/* CLASSE QUE ALTERA IMAGEM DO PERFIL */
.perfil-conteudo img {
    border-radius: 70px;
    border: 1px solid;
    height: 200px;
    width: 200px;
}

/* CLASSE QUE ALTERA INPUTS DO USUARIO */
.perfil-conteudo input {
    width: 100%;
}

/* CLASSE QUE ALTERA BOTAO DE TROCA-IMAGEM */
.btn-foto {
    width: 150px;
}

/* FIM PERFIL */

/* INÍCIO RANKING */

/* ID QUE CONTEM O INICIO DO RANKING */


.title {
    margin: 50px;
}

.Title-card {
    padding: 15px;
    margin: 30px 0;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 40px -13px rgba(0, 0, 0, 0.2);
}

.BtnMes {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #94958B;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.BtnMes:hover {
    background-color: #f2f2f2;
}

/* CLASSE QUE CONTEM AS TRÊS 'LINHAS' DO RANKING E STATS INDIVIDUAL */


/*CLASSE QUE CONTEM RANKING PESSOAL MOSTRANDO POSICAO E QTD DE ACERTOS*/
/* MOSTRA SITUAÇÃO DO ALUNO */
.personal-stats {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* CLASSE QUE CONTEM O 'BOX' DOS STATS INDIVIDUAIS */
.personal-stats .card {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    width: 25%;
    color: #2D3047;
    box-shadow: 0px 1px 40px -13px rgba(0, 0, 0, 0.3);
}

.personal-stats .card:first-child {
    background-color: #075AB3;
    color: #fff;
}

.personal-stats .card:last-child {
    width: 40%;
    text-align: justify;
}

.personal-stats .card:last-child p {
    margin: 20px 10px;
}

.personal-stats .card p {
    margin: 20px 0;
}

.personal-stats .rank-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-stats #rank {
    font-size: 40px;
}

/* TOP 3 ALUNOS COM RESPECTIVAS IMAGENS */

/* CLASSE QUE CONTEM OS CARDS COM OS TRÊS TOP ALUNOS */
#top-ranked-form {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
}

/* CLASSE 'BOX' DE CADA ALUNO DO TOP 3 */
.top-ranked-box {
    width: 30%;
    border-radius: 5px;
    background-color: #075AB3;
    box-shadow: 2px 10px 26px -7px rgba(0, 0, 0, 0.15);
}


/* IMAGEM DO ALUNO TOP3 */
.top-ranked-img img {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.top-ranked-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    border: 2px solid #fff;
    color: #fff;
    ;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: relative;
    left: 30%;
}

.top-ranked-img {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.top-ranked-name {
    margin: 20px 0;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.top-ranked-status {
    background-color: #fff;
    display: flex;
    color: #000;
    padding: 5px;
    justify-content: space-evenly;
}

.points {
    margin: 10px 0;
    text-align: center;
}

.top-ranked-subtitle {
    font-size: 12px;
    margin-bottom: 10px;
}



/* Inicio do ranking com respectivos usuarios*/

/* CLASSE QUE ENVOLVE A TABELA*/
.ranking-table {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;

}

/* CLASSE QUE ALTERA TABELA TOP ALUNOS */


table {
    margin: 0 20px;
    width: 100%;
    border-collapse: collapse;
}

.img-table {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.img-td {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* CELULA INDIVIDUAL DA TABELA */

.ranking-table td {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/* CABEÇALHO DA COLUNA */
th {
    background-color: #2D3047;
    color: #fff
}


/* FIM RANKING */

/*TOPICOS*/

#escolha {
    width: 100%;
    padding: 15px 5px;
    background-color: #fff;
    font-size: 18px;
    border-radius: 0 10px 10px 0;
    transition: 0.3s;
    border: 1px solid #94958B;
}

#escolha:hover{
    background-color: #f2f2f2;
}

#select-container{
    display: flex;
}

#select-container label{
    display: flex;
    background-color: #cccccc;
    border: 1px solid #94958B;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

/* FIM TOPICOS*/

/* QUESTOES */

.questoes-container{
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    width: 80%;
    margin: 15px;
}

.questoesTitle{
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.questoesSubTitle{
    font-size: 14px;
    color: #94958B;
}

.questoes-title{
    margin: 15px;
}

.questoes-content{
    margin: 15px;
    font-size: 18px;
}

.questao-font{
    color: #94958B;
    width: 100%;
    margin-left: 50%;
}

.questao-enunciado{
    margin: 15px 0;
}

.alternativas{
    margin: 15px;
}

.alternativas-card{
    display: flex;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #94958B;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
}

.alternativas-activate{
    display: flex;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #075AB3;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
    background-color: #e3effc;
}

.rightButton{
    text-decoration: line-through;
    background-color: #f2f2f2;
    border: none;
}

.btnResponder{
    border-radius: 15px;
    background-color: #075AB3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 15px;
    padding: 20px;
}

.btnResponder:hover{
    background-color: #0550a0;
}

.alternativas-card input{
    width: 20px;
    height: 20px;
}

.alternativas-activate input{
    width: 20px;
    height: 20px;
}


/* FIM - QUESTOES */

@media (max-width: 480px) {
    /*LOGIN*/

    .login-form {
        width: 100%;
        height: 100%;
    }

    .label-icon {
        margin: 0;
    }

    .loginInput-container {
        margin: 20px 0;
    }

    /*FIM-LOGIN*/


    /* PERFIL */

    .perfil-container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .perfil-form {
        flex-direction: column;
        width: 100%;
    }

    .perfil-box {
        width: 100%;
    }

    .btn-atualizar {
        width: 150px;
    }

    /* FIM PERFIL */

    /* INICIO RANKING */

    .personal-stats {
        flex-direction: column;
        align-content: center;
    }

    .top-ranked-form {
        flex-direction: column;
        align-content: center;
    }

    /* FIM RANKING */

}

@media (min-width: 481px) and (max-width:767px) {

    /*LOGIN*/
    .login-form {
        width: 100%;
        height: 100%;
    }

    /*FIM-LOGIN*/

    /* PERFIL */

    .perfil-container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .perfil-form {
        flex-direction: column;
        width: 100%;
    }

    .perfil-box {
        width: 100%;
    }

    .btn-atualizar {
        width: 150px;
    }

    /* FIM PERFIL */

    /* INICIO RANKING */

    .personal-stats {
        flex-direction: column;
        align-content: center;

    }

    .top-ranked-form {
        flex-direction: column;
        align-content: center;
    }

    /* FIM RANKING */
}

@media (min-width: 768px) and (max-width:991px) {

    /*LOGIN*/
    .login-form {
        width: 100%;
        height: 100%;
    }

    /*FIM-LOGIN*/


    /* PERFIL */

    .perfil-container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .perfil-form {
        flex-direction: column;
        width: 100%;
    }

    .perfil-box {
        width: 100%;

    }

    .btn-atualizar {
        width: 150px;
    }

    /* FIM PERFIL */
}

@media (min-width: 992px) and (max-width:1199px) {

    /*LOGIN*/
    .login-form {
        width: 100%;
        height: 100%;
    }

    /*FIM-LOGIN*/


    /* PERFIL */

    .perfil-container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .perfil-form {
        flex-direction: column;
        width: 100%;
    }

    .perfil-box {
        width: 100%;
    }

    .btn-atualizar {
        width: 150px;
    }

    /* FIM PERFIL */
}